<div id="body_wrapper" align="center">
<div id="image_map" align="center"><a href="#" id="link2" class="menu" title="Chest"></a>
<a id="link1" title="Leg"></a>
<a href="#" id="link3" class="menu" title="Leg"></a>	
</div> 
</div>

<div id="lightbox-panel">
    <p align="right">
        <a id="close-panel" href="#"style="color:#FFF; padding-bottom:20px; font:Arial, Helvetica, sans-serif; font-size:10px;">Close</a>
    </p>
<h3>Legs Exercises</h3>
    <ul><li><a href="#">Squats</a></li><li><a href="#">Deadlifts</a></li><li><a href="#">Leg Press</a></li><li><a href="#">Posterior Chain</a></li></ul>
    
</div><!-- /lightbox-panel -->

<div id="lightbox"> </div><!-- /lightbox -->

<div id="lightbox-panel_chest">
 <p align="right">
        <a id="close-panel_chest_menu" href="#" style="color:#FFF; padding-bottom:20px; font:Arial, Helvetica, sans-serif; font-size:10px;">Close</a>
  </p>
    <h3>Chest Exercises</h3>
    <ul><li><a href="#">Bench Press</a></li><li><a href="#">Incline press</a></li></ul>
   
</div><!-- /lightbox-panel -->

<div id="lightbox1"> </div><!-- /lightbox -->
