#image_map{
width:280px;
height:550px;
background:url(body.png) no-repeat;
position:relative;
margin:auto;
} 

#image_map a{
	display:block;
	position:absolute;
	width: 128px;
	height: 61px;
	left: 87px;
	top: 278px;
} 

#image_map a.menu {
    height: 50px;
    left: 80px;
    top: 116px;
    width: 134px;
}

#image_map a#link1 {
    height: 123px;
    left: 82px;	
    top: 248px;
    width: 61px;
}

#image_map a#link2 {
    height: 91px;
    left: 82px;
    top: 86px;
    width: 130px;
}

#image_map a#link2:hover{
    height: 95px;
    left: 68px;
    top: 93px;
    width: 160px;
	background:url(chest1.png) no-repeat;
}



#image_map a#link1:hover {
	background:url(leg.png) no-repeat;
    height: 145px;
    left: 79px;
    top: 234px;
    width: 166px;
}

#image_map a#link3:hover {
	background:url(leg.png) no-repeat;
	position:absolute;
    height: 145px;
    left: 79px;
    top: 234px;
    width: 166px;
}

#image_map a#link3 {
    height: 123px;
    left: 158px;
    top: 248px;
    width: 61px;
}

* /Lightbox background */
#lightbox {
 display:none;
 background:#666;
 opacity:0.3;
 filter:alpha(opacity=90);
 position:absolute;
 top:0px;
 left:0px;
 min-width:100%;
 min-height:100%;
 z-index:1000;
}
/* Lightbox panel with some content */
#lightbox-panel {
 display:none;
 position:fixed;
 top:300px;
 left:350px;
 width:150px;
 height:300px;
 background:#333;
 padding:1px 5px 10px 15px;
 border:2px solid #CCCCCC;
 z-index:1001;
}

 


* /Lightbox background */
#lightbox1 {
 display:none;
 background:#666;
 opacity:0.3;
 filter:alpha(opacity=90);
 position:absolute;
 top:0px;
 left:0px;
 min-width:100%;
 min-height:100%;
 z-index:1000;
}
/* Lightbox panel with some content */
#lightbox-panel_chest {
 display:none;
 position:fixed;
 top:300px;
 right:350px;

 width:150px;
 height:200px;
 background:#333;
 padding:1px 5px 10px 15px;
 border:2px solid #CCCCCC;
 z-index:1001;
}

#lightbox-panel h3 {
color: white;
font-family: Arial, Helvetica, sans-serif;
font-weight: 500;
font-style: normal;
padding-top: 10px;
padding-left: 10px;
}

#lightbox-panel_chest h3 {
color: white;
font-family: Arial, Helvetica, sans-serif;
font-weight: 500;
font-style: normal;
padding-top: 10px;
padding-left: 10px;
}

#lightbox-panel li {
    margin: 5px;
    padding: 5px 10px;
}

#lightbox-panel ui { padding:5px; background:#CCC ;  margin:2px;}

#lightbox-panel_chest li {
    margin: 5px;
    padding: 5px 10px;
}


#lightbox-panel1 ui { padding:5px; background:#CCC ;  margin:2px;}



#lightbox-panel_chest a:active { color:#FFF;}

#lightbox-panel_chest a:hover { color:#FFF;}

#lightbox-panel_chest a:visited { color:#FFF;}

#lightbox-panel a:active { color:#FFF;}

#lightbox-panel a:hover { color:#FFF;}

#lightbox-panel a:visited { color:#FFF;}

